@{
    ViewData["Title"] = "Blog";
}


<div class="jumbotron">
    <div class="row">
        <div class="row alert alert-info">
            This part well be updated soon
        </div>
    </div>
</div>